__pycache__/
*.so
*.dSYM/
.coverage
.coverage.*
.pytest_cache/
.ruff_cache/
.tmp-home/
.venv/
build/
dist/
*.egg-info/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
htmlcov/
logs
.ccls
*.pyc
Cargo.lock
target/
